.audio_bar {
  width: 350px;
  height: 40px;
  margin: 10px;
}

.title {
  margin: auto 0;
  font-size: 22px;
  overflow-wrap: break-all;
}

.contents_wrap{
  display: flex;
  justify-content: space-between;
}