.audio_bar {
  width: 500px;
  margin: auto 0;
}

.contents_wrap {
  position: relative;
  margin: auto;
  user-select: none;



  &:before {
    content: "";
    width: 68%;
    height: 60%;
    background-color: #9d9d9d;
    position: absolute;
    left: 30%;
    top: 45%;
    transform: rotate(2deg);
    filter: blur(4px);
  }
}
