$fcolor: #795548;

.contents {
  margin: 40px;
  .title {
    margin: auto;
    padding-bottom: 10px;
    font-size: 30px;
    border-bottom: dashed 2px $fcolor;
    color: $fcolor;
  }
  .memo {
    padding-top: 10px;
    font-size: 20px;
    color: $fcolor;
  }
}
