@font-face {
  font-family: "main_font";
  src: url("../public/fonts/KiwiMaru-Medium.ttf") format("truetype");
}

@mixin backMenu {
  padding: 15px 20px;
  box-shadow: 0 0 20px #00000048;
}

.progress {
  position: absolute !important;
  width: 90%;
  left: 50%;
  bottom: 25px;
  transform: translate(-50%, 0);
}

.nbutton {
  font-size: 25px;
  position: absolute !important;
  left: 85%;
  bottom: 50px;
}

.editpapar_wrap {
  height: 80%;
  width: 35%;
  margin: auto 50px;
}

.papars_wrap {
  margin: 4% 60px auto auto;
  width: 50%;
  height: 80%;
  position: relative;

  .papar_main {
    background: #fff;
    position: absolute;
    height: 100%;
    width: 100%;

    box-shadow: 0 0 20px #00000048;
    .papar_line {
      background-image: radial-gradient(#b9b9b5 1px, transparent 1px),
        linear-gradient(180deg, #e3e3e2 1px, transparent 1px);
      background-size: 2em 2em, 100% 2em;
      background-position: 0px -0.9em, 0 1px;
      line-height: 2;
      width: 100%;
      height: 100%;
      .wrap {
        padding: 50px;
        height: 100%;
      }
      .title {
        font-size: 50px;
        color: #5ad0ff;
      }
    }
  }
}

.descriotion {
  font-size: 24px;
  line-height: 1.7;
}

.papar_second,
.papar_third {
  height: 98%;
  position: absolute;
  width: 100%;
  user-select: none;
}

.papar_third {
  @include backMenu;
  font-size: 23px;
  background: #edebeb;
  right: 80px;
  top: -10px;
  transform: rotate(-5deg);
}

.papar_second {
  @include backMenu;
  font-size: 35px;
  background: #f0f0f0;
  right: 50px;
  top: -10px;
  transform: rotate(-2deg);
}

.wrap_all {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: space-between;
}

.timebox,
.timebox label,
.button,
.nbutton,
.titlebox label {
  font-family: "main_font", serif;
}

.error {
  font-size: 18px;
  border-radius: 20px;
  p {
    margin: auto 1.5rem;
  }
  svg {
    margin: auto;
  }
}

.timebox {
  width: 50px;
  margin: 0 10px;
}

.audioplay_warp {
  position: absolute;
  top: 50%;
  width: 90%;
  .audio_bar {
    width: 100%;
    margin-bottom: 70px;
  }

  .input_box {
    margin-bottom: 10px;
    span {
      font-size: 18px;
      margin-left: 30px;
    }

    .titlebox {
      width: 230px;
    }

    .button {
      font-size: 20px;
      height: 56px;
      margin-left: 25px;
    }
  }
}

.titlebox input, .timebox input{
  font-family: "main_font", serif;
  font-size: 20px;
}

