.note {
  margin: auto;
  width: 1000px;
  height: 500px;
  background: #fff;
  border-radius: 3px;
  border: solid 10px rgb(112, 92, 92);
  .note_line {
    background-image: radial-gradient(#b9b9b5 1px, transparent 1px),
      linear-gradient(180deg, #e3e3e2 1px, transparent 1px);
    background-size: 2em 2em, 100% 2em;
    background-position: 0px -0.9em, 0 1px;
    padding-bottom: 0.3em;
    padding-top: 2px;
    line-height: 2;
  }
}

.wrapall {
  display: flex;
  justify-content: space-between;
}
